@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

:root{
    /* --primaryColor: #4cb327; */
    --primaryColor: #5c5653;
    --secondaryColor: #4f4540;
    --textColor: #e1dbd7;
    --borderColor: #e1dbd7;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primaryColor);
}

/* language detector */

/*  */